#account-page.account-page__session
  = link_to "F-gram", root_path, class: "h1"
  .account-page__session__inner.clearfix
    .account-page__session__inner--header.account-page__session__header
      %h2 マイページ編集
      %h5
        = link_to "Back", :back, class: "back-btn"
      %h5
        = link_to "パスワード編集",  edit_user_registration_path, class: "back-btn"
    .account-page__session__inner--bottom.user-form
      = form_for(current_user) do |f|
        .field
          .field-label
            = f.label :name, "氏名"
          .field-input
            = f.text_field :name, autofocus: true, autocomplete: "name"
        .field
          .field-label
            = f.label :address, "住所"
          .field-input
            = f.text_field :address, placeholder: "例: 東京都 新宿区 高田馬場2-2-105" , autocomplete: "street-addres"
        .field
          .field-label
            = f.label :phonenumber, "電話番号"
          .field-input
            = f.text_field :phonenumber, placeholder: "例: 090-1234-5678", autocomplete: "tel"
        .field
          .field-label
            = f.label :email, "メールアドレス"
          .field-input
            = f.email_field :email, autocomplete: "email"
        .actions
          = f.submit "編集する", class: 'btn'
 
