#account-page.account-page
  %h1 Market-App
  .account-page__inner.clearfix
    .account-page__inner--header.account-page__header
      %h2 パスワードを忘れましたか?
      %h5
        = link_to "ログイン画面に戻る", new_session_path(resource_name),style: "color:blue"
    .account-page__inner--bottom.user-form
      %b ＊メールアドレスを入力してください
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          .field-label
            = f.label :email, "メールアドレス"
          .field-input
            = f.email_field :email, autofocus: true, autocomplete: "email"
        .actions
          = f.submit "パスワード再設定のメールを送信", class: "btn"
