.products__contents__main__box
  .products__contents__main__box__image
    = image_tag "images.jpeg", height: "310px", width: "300px"
  .products__contents__main__box__image
    = image_tag "images2.jpeg", height: "310px", width: "300px"
  .products__contents__main__box__image
    = image_tag "images3.jpeg", height: "310px", width: "300px"
.products__contents__main__box
  .products__contents__main__box__image
    = image_tag "images4.jpeg", height: "310px", width: "300px"
  .products__contents__main__box__image
    = image_tag "images5.jpeg", height: "310px", width: "300px"
  .products__contents__main__box__image
    = image_tag "images6.jpeg", height: "310px", width: "300px"
.products__contents__main__box
  .products__contents__main__box__image
    = image_tag "images.jpeg", height: "310px", width: "300px"
  .products__contents__main__box__image
    = image_tag "images2.jpeg", height: "310px", width: "300px"
  .products__contents__main__box__image
    = image_tag "images3.jpeg", height: "310px", width: "300px"